@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* colors */
:root{
    --bg-background: rgb(232, 251, 255);
    --bg-navbar: rgb(3, 4, 94);
    --bg-text-item: rgb(202, 246, 255);
    --bg-year: rgb(208, 238, 248);
    --bg-big-black: rgba(0,0,0,0.5);

    --bg-month-day-list: rgb(144, 224, 239);
    --bg-month-hover: rgb(0, 180, 216);
    --bg-day-hover: rgba(0, 180, 216, 50%);
    --bg-month-day-active: rgb(0, 119, 182);
    --bg-month-container: rgba(0, 119, 182, 10%);

    --text-color: rgb(3, 4, 94);
    --text-time-color: rgba(3, 4, 94, 50%);
}
/* colors */

body{
    color: var(--text-color)
}

.container{
    position: relative;
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: flex-start;

    background: var(--bg-background);
}

/* start history part */
.history{
    position: relative;
    min-width: 280px;
    box-shadow: 5px 0 20px rgba(0,0,0,0.1);

    z-index: 50;
}

.top-bg{
    background-color: var(--bg-navbar);
    width: 100%;
    height: 60px;
}

.his-close{
    position: absolute;
    top: 12px;

    font-size: 30px;
    background: none;
    border: none;
    color: var(--bg-navbar);

    cursor: pointer;
}
.his-close:active{
    color: rgba(3, 4, 94, 0.4);
}

.month-day-history-container{
    padding: 15px 20px;
}

.title-box{
    position: relative;
    margin-bottom: 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.title-box .title{
    font-size: 1.3em;
}

.title-box .year-list-container{
    position: relative;
}
.year-list-container .year-btn{
    font-size: 15px;
    padding: 5px 10px;
    border: none;
    background: transparent;
    border-radius: 5px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    
    cursor: pointer;

    transition: 0.3s;
}
.year-list-container .year-btn:hover{
    background: var(--bg-month-day-list);
}
.year-list-container .year-btn.active{
    background: var(--bg-navbar);
    color: #fff;
}

.year-lists{
    position: absolute;
    top: 100%;
    right: 0;

    width: 150px;
    padding: 8px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 5px 0 10px rgba(0,0,0,0.1);

    z-index: 100;

    visibility: hidden;
    opacity: 0;
    transform: translateY(-10px);

    transition: 0.2s;
}
.year-list-container .year-btn.active + .year-lists{
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
}
.year-item{
    list-style: none;
    margin-bottom: 5px;
}
.year-item:last-of-type{
    margin-bottom: 0;
}
.year-item .years{
    display: inline-block;
    width: 100%;
    background: var(--bg-month-day-list);
    padding: 3px 15px;
    border-radius: 5px;
    color: var(--text-color);
    text-decoration: none;
}
.year-item .years:hover{
    background: var(--bg-day-hover);
}
.year-item .years.active{
    background: var(--bg-month-day-active);
    color: #fff;
}



/* start month & days */
.month-container{
    position: relative;
    list-style: none;
}

.month-item{
    margin-bottom: 10px;
    background: var(--bg-month-container);
    border-radius: 5px;
}

.month-item .month-btn,
.day-item .day-btn{
    background: var(--bg-month-day-list);
    padding: 8px 15px;
    border-radius: 5px;
    color: var(--text-color);
    text-decoration: none;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.month-item .month-btn .dropdown-icon{
    transition: 0.3s;
}
.month-item .month-btn:hover{
    background: var(--bg-month-hover);
}
.month-item .month-btn.active{
    background: var(--bg-month-day-active);
    color: #fff;
}
.month-item .month-btn.active .dropdown-icon{
    transform: rotate(180deg);
}

.days-container{
    position: relative;
    height: 0;
    list-style: none;
    overflow: hidden;

    transition: 0.2s;
}
.day-item{
    margin: 10px 0 10px 10px;
}

.day-item .day-btn{
    margin-right: 10px;

    transition: 0.2s;
}
.day-item .day-btn p{
    line-height: 1;
}
.day-item .day-btn:hover{
    background: var(--bg-day-hover);
}
.day-item .day-btn.active{
    background: var(--bg-month-day-active);
    color: #fff;
    margin-right: 0px;
}
/* end month & days */

/* end history part */



/* start Add data pop-up box */
.add-data-box-big-bg{
    position: absolute;

    width: 100%;
    height: 100vh;
    background: var(--bg-big-black);

    display: grid;
    place-items: center;

    z-index: 1000;
}
.add-data-box-big-bg.hide{
    display: none;
}
.add-data-box{
    position: relative;
    width: 800px;
    background: var(--bg-background);
    padding: 30px;
    border-radius: 10px;
}

.add-data-box .btn-close{
    position: absolute;
    top: 20px;
    right: 20px;

    width: 30px;
    height: 30px;
    font-size: 20px;
    background: var(--bg-navbar);
    color: #fff;

    border: none;
    border-radius: 5px;

    display: grid;
    place-items: center;

    cursor: pointer;
}
.add-data-box .btn-close:active{
    background: var(--bg-month-hover);
}

.add-data-box .title{
    text-align: center;
    margin-bottom: 20px;
}

.add-data-box .data-text{
    width: 100%;
    padding: 15px;
    font-size: 14px;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 5px;
    outline: none;
    margin-bottom: 10px;

    resize: vertical;
}
.add-data-box .data-text:focus{
    border-color:rgba(0,0,0,0.7);
}


.submit-btn{
    width: 100%;
    background: var(--bg-navbar);
    color: #fff;
    padding: 8px;
    font-size: 15px;
    border: none;
    border-radius: 5px;

    cursor: pointer;
}
/* end Add data pop-up box */




/* start main part */
main{
    position: relative;
    width: calc(100% - 560px);
}
.navbar{
    height: 60px;
    background: var(--bg-navbar);
    color: #fff;
    text-align: center;
    line-height: 60px;
}

/* start content area */
.contents-container{
    position: relative;
    width: 100%;
    height: calc(100vh - 60px);

    overflow-y: auto;
}

/* start empty-page */
.empty-page{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    background: var(--bg-background);

    display: grid;
    place-items: center;
}
.empty-page.hide{
    display: none;
}
.empty-page lord-icon{
    width: 100px;
    height: 100px;
    margin-bottom: -20px;
}
/* end empty-page */



/* start add button */
.data-add-btn{
    position: absolute;
    right: 30px;
    bottom: 30px;

    padding: 10px 30px;
    border: none;
    border-radius: 30px;
    background: var(--bg-navbar);
    color: #fff;
    font-size: 16px;
    font-weight: 600;

    cursor: pointer;

    z-index: 100;
}
.data-add-btn:active{
    background: var(--bg-month-hover);
}
.data-add-btn .tooltip{
    position: absolute;
    bottom: 100%;
    right: 0;

    width: 400px;
    padding: 20px;
    background: var(--bg-month-day-list);
    color: var(--text-color);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(3, 4, 94, 0.15);

    transform: translateY(-20px);
}
.data-add-btn .tooltip .tooltip-arrow{
    position: absolute;
    top: 100%;
    right: 35px;

    border-width: 13px;
    border-style: solid;
    border-color: var(--bg-month-day-list) transparent transparent transparent;
}
.data-add-btn .tooltip h3{
    font-weight: 600;
    margin-bottom: 5px;
}
.data-add-btn .tooltip p{
    font-size: 15px;
    font-weight: 400;
    color: var(--text-color);
}

.data-add-btn .tooltip.hide{
    display: none;
}

.data-add-btn .tooltip.animate{
    animation: tooltipanimate 1.5s infinite linear;
}

@keyframes tooltipanimate{
    0%,100%{
        transform: translateY(-20px);
    }
    50%{
        transform: translateY(-10px);
    }
}
/* start add button */


/* start contents  */
.contents{
    width: 100%;
    height: 100%;
    /* background: red; */

    padding: 20px;
}
.contents .title{
    font-weight: 600;
    margin-bottom: 10px;
}

/* start content-items */
.contentItem-container{
    position: relative;
    width: 100%;
    height: calc(100% - 20px);

    padding: 0 5px;
    overflow-y: auto;
}

.content-item{
    padding: 15px 20px;
    border-radius: 10px;
    font-size: 16px;
    background: var(--bg-month-day-list);
    color: var(--text-color);
    margin-bottom: 15px;
    cursor: pointer;

    transition: 0.2s;
}
.content-item:hover{
    transform: scale(1.01);
    background: var(--bg-day-hover);
    /* box-shadow: 0 0 20px rgba(0,0,0,0.1); */
}
.content-item .time-text{
    font-size: 15px;
    display: inline-block;
    color: var(--text-time-color);
    margin-bottom: 5px;
}
/* end content-items */

/* end contents  */




/* end content area */
/* end main part */


/* start times part */
.times-container{
    position: relative;
    min-width: 280px;
    /* border-left: 1px solid var(--bg-navbar); */
    box-shadow: -5px 0 20px rgba(0,0,0,0.1);

    z-index: 50;
}
.times{
    padding: 20px;
}
.time-item{
    padding: 8px 0px;
    border-radius: 5px;
    color: var(--text-color);
}
/* start times part */




/* make it responsive */
@media (max-width:992px){

    .history {
        min-width: 240px;
    }

    main{
        width: 100%;
    }

    .times-container{
        min-width: 200px;
    }

}

@media (max-width:500px) {
    
    .history{
        position: absolute;
        left: 0;
        box-shadow: 5px 0 20px rgba(0,0,0,0.0);
        min-width: 220px;
        height: 100vh;
        background: var(--bg-background);

        transform: translateX(-100%);

        transition: 0.2s;
    
        z-index: 1000;
    }
    .history.active{
        transform: translateX(0);
        box-shadow: 5px 0 20px rgba(0,0,0,0.1);
    }

    .month-day-history-container {
        max-height: calc(100vh - 60px);
        overflow-y: auto;
    }
    
    main{
        position: relative;
        width: 100%;
    }

    .contents {
        margin-top: 50px;
        height: calc(100% - 60px);
        padding: 20px 0px;
    }

    .contents h3{
        padding: 0 20px;
    }

    .contentItem-container {
        padding: 0 20px;
    }

    
    .content-item:hover{
        transform: scale(1);
        background: var(--bg-day-hover);
        /* box-shadow: 0 0 20px rgba(0,0,0,0.1); */
    }

    .top-bg{
        background-color: var(--bg-background);
    }
    
    .times-container{
        position: absolute;
        min-width: 100%;
        margin-top: 60px;
        /* border-left: 1px solid var(--bg-navbar); */
        box-shadow: -5px 0 20px rgba(0,0,0,0.1);
        background: var(--bg-background);
    
        z-index: 50;
    }

    .times-container .top-bg{
        display: none;
    }

    .times{
        width: 100%;

        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 20px;
    }

    .his-close{
        right: -45px;
        color: #fff;

        transition: 0.2s;
    }

    .his-close.closeicon{
        right: 25px;
        color: var(--bg-navbar);
    }

    .his-close:active{
        color: rgba(255,255,255,0.4);
    }


    .add-data-box-big-bg {
        padding: 20px;
    }

    .add-data-box {
        position: relative;
        width: 100%;
        background: var(--bg-background);
        padding: 20px;
        border-radius: 10px;
    }

    .add-data-box .btn-close {
        top: 15px;
        right: 15px;
    }

    .data-add-btn {
        right: 15px;
        bottom: 15px;
    }


    .data-add-btn .tooltip {
        width: 350px;
    }
    .tooltip h3{
        font-size: 18px;
    }
    .tooltip p{
        font-size: 15px;
    }
}



